.bug {
  background-color: $bug;
  color: $bug;
}

.dark {
  background-color: $dark;
  color: $dark;
}

.dragon {
  background-color: $dragon;
  color: $dragon;
}

.electric {
  background-color: $electric;
  color: $electric;
}

.fire {
  background-color: $fire;
  color: $fire;
}

.fairy {
  background-color: $fairy;
  color: $fairy;
}

.fighting {
  background-color: $fighting;
  color: $fighting;
}

.flying {
  background-color: $flying;
  color: $flying;
}

.ghost {
  background-color: $ghost;
  color: $ghost;
}

.grass {
  background-color: $grass;
  color: $grass;
}

.ground {
  background-color: $ground;
  color: $ground;
}

.ice {
  background-color: $ice;
  color: $ice;
}

.normal {
  background-color: $normal;
  color: $normal;
}

.poison {
  background-color: $poison;
  color: $poison;
}

.psychic {
  background-color: $psychic;
  color: $psychic;
}

.rock {
  background-color: $rock;
  color: $rock;
}

.steel {
  background-color: $steel;
  color: $steel;
}

.water {
  background-color: $water;
  color: $water;
}
