$bug: #92bc2c;
$dark: #595761;
$dragon: #0c69c8;
$electric: #f2d94e;
$fire: #fba54c;
$fairy: #ee90e6;
$fighting: #d3425f;
$flying: #a1bbec;
$ghost: #5f6dbc;
$grass: #5fbd58;
$ground: #da7c4d;
$ice: #75d0c1;
$normal: #a0a29f;
$poison: #b763cf;
$psychic: #fa8581;
$rock: #c9bb8a;
$steel: #5695a3;
$water: #539ddf;
$white: #fff;
$white-2: #eee;
$black: #333;

@mixin flexProps($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
